
.login-body {
    font-family: Arial, sans-serif;
    background-color: #7c7a7a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 10px;
  }
  
  .login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size:cover; 
    
  }
  
  .login-form {
    background: url('./logo1.jpeg') no-repeat center center/cover;
    background-color: #fff;
    padding: 40px 20px;
 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .login-button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
  }
  
  .login-button:hover {
    background-color: #555;
  }
  
  .login-link {
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  