/* PersonalizeProfile.css */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.profile-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.profile-image-container {
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  background-image: url('f2.jpeg');
  background-position: center;
  background-size:120%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image span {
  color: #ccc;
  text-align: center;
}

.profile-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-input-container label {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: bold;
}

.profile-input-container input,
.profile-input-container select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.skip-button,
.done-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.skip-button {
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

.skip-button:hover {
  background-color: #e0e0e0;
}

.done-button {
  background-color: #333;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.done-button:hover {
  background-color: #555;
}
