
.sticky-navbar {

  top: 0;

  background-color: #333;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 5%;
 
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 0%;
}

.navbar-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.navbar-link {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-link:hover {
  text-decoration: none;
  background-color: rgb(144, 146, 146);
  border-radius: 10%;
  padding:3%;
  
}
